.padding0 {
  padding: 0;
}
.Home .ant-layout-content{
  margin: 0;
  min-height: auto;
  height: auto;
  overflow-y: auto;
}



.text-white {
  color: white;
}

.text-white a {
  color: white;
}

.bg-header {
  background: #01203A;
  height: 90px;
  padding-top: 12px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.text-left {
  text-align: left;
}

.marginTop90 {
  margin-top: 90px !important;
}

.banner {
  background: #01203A;
  padding-bottom: 60px;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

.navs {
  font-family: Futura_Book;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  color: #FFFFFF;
  padding-left: 50px;
  padding-bottom: 50px;
}
.navs:hover{
  color: #9c9cd0;
}

.bannerText {
  width: 779px;
  height: 210px;
  font-size: 44px;
  font-family: Futura_Medium, Futura;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 70px;
}

.banner-info {
  width: 495px;
  height: 25px;
  font-size: 16px;
  font-family: Futura_Std_Book;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 25px;
}

.bannerInput.ant-input,
.bannerInput.ant-input:hover,
.bannerInput.ant-input:focus {
  background-color: transparent;
  background-image: none;
  color: #FFFFFF;
  width: 338px;
}
.info-title{
  font-size: 36px;
  font-family: Futura_Medium, Futura;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 43px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 130px;
}
.info-sec-title{
  font-size: 32px;
  font-family: Futura_Medium, Futura;
  font-weight: 500;
  color: rgb(0,228,162);
  text-align: center;
  line-height: 42px;
  margin-top: 54px;
  margin-bottom: 40px;

}
.info-sub-title{

  font-size: 18px;
  font-family: Futura_Round, Futura;
  font-weight: lighter;
  color: #FFFFFF;
  line-height: 1.875em;
  text-align:center;
  margin-bottom: 44px;
}
.info-content{
  font-family: Futura_Std_Book, Futura;
  color: #90CBFD;
  font-size:23px;
  line-height: 1.41em;
  text-align:center
}
.bg-price{
  background: #01203A;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 200px;
}
.paddingB90{
  padding-bottom: 90px;
}
.plans{
  padding:23px 20px 18px;
  border-radius: 2px;
}
/* .plans:hover{
  background:#7121EA ;
  padding:0;
}
.plans:hover .ant-card{
  background:#7121EA ;
  color:#FFFFFF;
} */



.content{
  min-width: 980px ;
  margin:0 auto;
  width: calc(100% - 80px - 80px);
}
.bannerBg{
  background: url("../../assets/home/banner.webp") no-repeat center right;
  padding-top:80px ;
  height: 580px;
}
@media screen and (max-width: 1450px)  {
  .bannerBg{
    background-size:50% ;
  }
}

.Home .homeBannerText {
  line-height:1.25em;
  font-size:72px;
  font-family: Futura_Medium, Futura;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 8px;
  padding-left: 16px;

}
.homeBanner{
  padding-top: 45px;
}
.homeBannerSubTitle{
  color: #FFFFFF;
  line-height: 1.25em;
  font-size: 40px;
}

.bg-dark {
  background: #01203A;
}
.footer-nav{
  width: 1000px;
  margin: 0 auto;

}
.home-footer{
  background: #01203A;
  font-size: 14px;
  font-family: Futura_Std_Book, Futura;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 16px;
}
.developers-title{
  line-height:1.35em;
  text-align:center;
  font-size:40px;
  color:rgb(1,32,58);
  height: 134px;
  padding-top: 60px;
}
.input-Wrapper{
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  border: 1px solid #000;
  padding: 8px;
}
.form-wrapper{
  border: 1px solid #000;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}
.input-Wrapper>.ant-row>.ant-col>.ant-form-item-control-input>.ant-form-item-control-input-content>.ant-input {
background: none;
}
.contact-us input{
  appearance: none !important;
  -moz-appearance: none !important;
  outline: none !important;
  -moz-outline: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.contact-us .ant-btn{
  border-color: #01203A;
  background: #01203A;
  color:#fff;
  float: right;
}