.contact-form-box{
  width: 610px;
  height: 792px;
  background-color: #fff;
  padding:40px 50px
}
.contact-form-box .ant-row{
  margin-bottom: 10px;
}
.contact-form-box label{
  font-weight: 600;
}
.contact-form-box input{
  background-color: #EFF0F7;
  border: none;
  height: 50px;
  line-height: 50px;
}
.contact-log{
  background-image: url(../../assets/contact_scales_logo.png);
  background-size: 100%;
}
@media only screen and (min-width: 768px){
  .contact-log{
    width: 580px;
    height: 394px;
    margin-top: 168px;
    float: right;
  }
}
@media only screen and (max-width: 768px){
  .contact-log{
    width: 218px;
    height: 148px;
    clear: both;
    margin: 0px auto 26px auto;
  }
}