.box-wrapper{
  padding: 0px 8px;
}
.text-box{
  width: 410px;
  height: 756px;
  background-color: #EFF0F7;
  border-radius: 32px;
  margin-left: 52px;
}
.winner-box{
  width: 696px;
  height: 756px;
  border-radius: 32px;
  background-color: #fff;
  margin-left: 40px;
}
.tab-box{
  height: 74px;
}
.tab-title{
  float: left;
  width: 50%;
  font-size: 18px;
  font-weight: 600;
  line-height: 74px;
  text-align: center;
  border-bottom: 1px solid #D9DBE9;
  cursor: pointer;
}
.tab-title.active{
  line-height: 70px;
  border-bottom: 4px solid #120043;
}
.search-box{
  height: 83px;
  border-bottom: 1px solid #D9DBE9;
  width: 374px;
  padding: 24px;
  width: 100%;
}
.search-box .ant-input-affix-wrapper{
  height: 40px;
  background-color: #fff;
}
.search-box input{
  height: 40px;
  line-height: 40px;
  background-color: #fff;
}
.data-tree-box{
  padding: 16px 20px;
}
.data-tree-box  .ant-tree-list{
  background-color: #EFF0F7;
}
.winner-title-box{
  font-size: 18px;
  font-weight: 600;
  line-height: 74px;
  height: 74px;
  border-bottom: 1px solid #D9DBE9;
  padding:0 4px;
}
.winner-title{
  color:#B23730;
}
.card-group-title{
  padding: 0 42px;
  height: 32px;
  line-height: 32px;
  margin: 16px 0;
}
.card-group{
  padding: 0 42px;
  overflow: hidden;
}
.card-item{
  float: left;
  cursor: pointer;
  margin-top: 24px;
}
.card-item.active{
  background: #B23730;
}
.card-item.active *{
  color:#fff!important;
}
.card-item.edited{
  border-color: #00BA88!important;
}
.card-item.edited *{
  color:#00BA88!important;
}
@media only screen and (min-width: 1440px){
  .text-box{
    width: 570px;
    height: 1056px;
  }
  .winner-box{
    width: 920px;
    height: 1056px;
  }
  .card-item{
    width: 388px;
    height: 186px;
    border: 1px solid #D9DBE9;
    border-radius: 16px;
  }
  .card-item{
    padding:24px 30px;
    
  }
  .card-item:nth-child(odd){
    margin-right: 24px;
  }
}
@media only screen and (min-width: 468px) and (max-width: 1439px){
  .text-box{
    width: 410px;
    height: 756px;
  }
  .winner-box{
    width: 696px;
    height: 756px;
  }
}
@media only screen and (min-width: 767px){

}