.margin_16 {
  margin-top: -20px
}

.ant-alert-success {
  background-color: #00BA88;
}

.margin0 {
  margin: 0;
}

.ant-alert-close-icon .anticon-close {
  color: #ffffff;
}

.ant-alert-close-icon .anticon-close:hover {
  color: #eeeeee;
}

.ant-table-thead > tr > th {
  background: #EFF0F7;
}

.ant-input-sm {
  height: 38px;
  margin-top: 0 !important;
  font-size: 14px;
}

.ant-table-tbody > tr > td {
  font-size: 12px;
  text-align: center;
}

.ant-table-thead > tr > th {
  text-align: center;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  text-align: center;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before{
  border-bottom:1px solid #D9DBE9;
}
.no-border{
  border: none!important;
}
.ant-tag-purple{
  color: #D9DBE9;
  background: #EFF0F7;
}

.lg-tag{
  height: 32px;
  border-radius: 36px;
  min-width: 112px;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
}
.ant-tag-gold{
  color:#F4B740;
  background: #FFF4DE;
}
.ant-tag-green{
  background: #F2FFFB;
  color:#00BA88;
}
.ant-tag-red {
  color: #E92C3A;
  background: #FFCCCF;
}
.btn-red-link{
  color: #B23730;
}
.btn-red-link:hover{
  color:#3E1E20;
}

.btn-theme-link{
  color: rgba(95, 90, 167, 0.75);
}
.btn-theme-link:hover{
  color:#5f5aa7;
}


.btn-blue-link{
  color:#1CC8EE;
}
.btn-blue-link:hover{
  color:#0096B7;
}
.btn-xs{
  font-size: 12px;
  line-height: 24px;
}
.ant-modal-wrap{
  overflow-y: hidden;
}
.ant-table-cell{
  word-break:break-all;
}
.alertFixed{
  position: fixed;
  right: 0;
  width: calc(100% - 284px);
  z-index: 1000;
    top:64px;
}
@media only screen and (max-width: 1024px) {
    .alertFixed {
        position: fixed;
        right: 0;
        width: 100%;
        z-index: 1000;
        top: 64px;
    }
}
.search-content{
height: 34px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
