.welcome-user{
    width: 40rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.more-link{
    color:#B23730;
    float: right;
    cursor: pointer;
}
.overview-box{
    border-radius: 24px;
    background-color: #fff;
    margin: 0 auto;
}
.overview-box.image{
    padding: 0!important;
}
.overview-image-box{
    overflow: hidden;
}
.overview-image-box img{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-size: cover;
}
.overview-title-box{
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.overview-title-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin-top: 6px;
}
.overview-title-dot.completed{
    background-color: #00BA88;
}
.overview-title-dot.failed{
    background-color: #E92C3A;
}
.overview-title-dot.waiting{
    background-color: #F4B740;
}
.overview-title-text{
    float: left;
    margin-left: 12px;
}
.job-item{
    color:#4E4B66;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.job-item.title{
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}
.job-item.tag{
    color:#6E7191;
    font-size: 12px;
}

.job-view-btn-box{
    text-align: right;
}
.more-link{
    color:#B23730;
    font-size: 14px;
    font-weight: 600;
    margin-right: 24px;
}
.first-modal .ant-modal-body{
    padding: 0;
    height: 472px;
}
.first-left-box{
}
.first-right-box{
    background-color: #120043;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}
.first-left-step-box{
    height: 20px;
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    margin-top: 36px;
}
.step-dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D9DBE9;
    cursor: pointer;
    margin-left: 12px;
}
.step-dot.active{
    background-color: #4E4B66;
}
.first-left-title{
    padding-left: 60px;
    margin-top: 60px;
    width: 300px;
}
.first-left-content{
    padding-left: 60px;
    width: 400px;
    margin-top: 24px;
    height: 142px;
}
.first-left-button-group{
    padding-left: 60px;
    margin-top: 40px;
    margin-bottom: 48px;
    width: 100%;
}
.first-left-button-group .ant-btn{
    width: 112px;
}
.first-img{
    margin: 0 auto;
}
.first-1{
    background: url(../../assets/first_1.png);
    width: 396px;
    height: 321px;
    margin-top: 75px;
}
.first-2{
    background: url(../../assets/first_2.png);
    width: 342px;
    height: 239px;
    margin-top: 116px;
}
.first-3{
    background: url(../../assets/first_3.png);
    width: 353px;
    height: 278px;
    margin-top: 97px;
}
.first-4{
    background: url(../../assets/first_4.png);
    width: 336px;
    height: 327px;
    margin-top: 72px;
}
@media only screen and (min-width: 1920px){
    .overview-box{
        width: 358px;
        height: 442px;
        padding: 36px;
    }
    .overview-image-box{
        height: 200px;
        overflow: hidden;
        background-color: #ccc;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
    }
    .overview-image-box img{
        height: 200px;
    }
    .job-item{
        height: 28px;
        margin-bottom: 16px;

    }
    .job-list-box{
        height: 260px;
        margin-top:40px
    }
    .job-list-box.image{
        height: 150px;
        margin-top:40px;
        padding: 16px 36px;
    }
    .job-item.tag{
        height: 48px;
    }
    .job-item.title{
        height: 48px;
    }
  }
  @media only screen and (min-width: 1440px) and (max-width: 1919px){
    .overview-box{
        width: 246px;
        height: 306px;
        padding: 24px;
    }
    .overview-image-box{
        height: 136px;
        overflow: hidden;
        background-color: #ccc;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
    }
    .overview-image-box img{
        height: 136px;
    }
    .job-item{
        height: 24px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .job-list-box{
        height: 160px;
        margin-top:20px
    }
    .job-list-box.image{
        height: 120px;
        margin-top:20px;
        padding: 8px 18px;
    }
    .job-item.tag{
        height: 20px;
    }
    .job-item.title{
        height: 32px;
    }
  }
  @media only screen and (min-width: 468px) and (max-width: 1439px){
    .overview-box{
        width: 214px;
        height: 266px;
        padding: 24px;
    }
    .overview-image-box{
        height: 136px;
        overflow: hidden;
        background-color: #ccc;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
    }
    .overview-image-box img{
        height: 136px;
    }
    .job-item{
        height: 20px;
        margin-bottom: 8px;
        font-size: 12px;
    }
    .job-list-box{
        height: 132px;
        margin-top:20px
    }
    .job-list-box.image{
        height: 80px;
        margin-top:20px;
        padding: 8px 18px;
    }
    .job-item.tag{
        height: 20px;
    }
    .job-item.title{
        height: 32px;
    }
  }
