.welcome-user{
    width: 47rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.overview-box.image .more-link{
    margin-right: 24px;
}
.more-link{
    color:#B23730;
    float: right;
    cursor: pointer;
    margin-right: 40px;
}
.overview-box{
    border-radius: 24px;
    background-color: #fff;
}
.overview-box.image{
    padding: 0!important;
    cursor: pointer;
}
.overview-image-box{
    overflow: hidden;
}
.overview-image-box img{
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-size: cover;
}
.overview-title-box{
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.overview-title-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin-top: 6px;
}
.overview-title-dot.completed{
    background-color: #00BA88;
}
.overview-title-dot.failed{
    background-color: #E92C3A;
}
.overview-title-dot.waiting{
    background-color: #F4B740;
}
.overview-title-text{
    float: left;
    margin-left: 12px;
}
.job-item{
    color:#4E4B66;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.job-item.title{
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}
.job-item.tag{
    color:#6E7191;
    font-size: 12px;
}

.job-view-btn-box{
    text-align: right;
}
.more-link{
    color:#B23730;
    font-size: 14px;
    font-weight: 600;
}
.first-modal .ant-modal-body{
    padding: 0;
    height: 472px;
  border-radius: 16px;
    overflow: hidden;
}
.first-left-box{
}
.first-right-box{
    background-color: #120043;
    height: 100%;
    overflow: hidden;
}
.first-left-step-box{
    height: 20px;
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    margin-top: 36px;
}
.step-dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D9DBE9;
    cursor: pointer;
    margin-left: 12px;
}
.step-dot.active{
    background-color: #4E4B66;
}
.first-left-title{
    padding-left: 60px;
    margin-top: 60px;
    width: 280px;
}
.first-left-content{
    padding-left: 60px;
    width: 400px;
    margin-top: 24px;
    height: 142px;
}
.first-left-button-group{
    padding-left: 60px;
    margin-top: 40px;
    margin-bottom: 48px;
    width: 100%;
}
.first-left-button-group .ant-btn{
    width: 112px;
}
.first-img{
    margin: 5% auto;
  background-size: contain;
  width: 90%;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.first-1{
    background-image: url(../../assets/first_1.png);
    /*margin-top: 75px;*/
}
.first-2{
  background-image: url(../../assets/first_2.png);
    /*width: 342px;*/
    /*height: 239px;*/
    /*margin-top: 116px;*/
}
.first-3{
  background-image: url(../../assets/first_3.png);
    /*width: 353px;*/
    /*height: 278px;*/
    /*margin-top: 97px;*/
}
.first-4{
  background-image: url(../../assets/first_4.png);
    /*width: 336px;*/
    /*height: 327px;*/
    /*margin-top: 72px;*/
}
.tip-text{
    word-break: break-all;
    color: #4E4B66;
    display: block;
    margin-top: 8px;
}
@media only screen and (min-width: 1920px){
    .overview-box{
        width: 100%;
        height: 272px;
        padding: 24px;
    }
    .overview-image-box{
        height: 160px;
        overflow: hidden;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
    }
    .overview-image-box img{
        object-fit: cover;
        width: 100%;
    }
    .job-item{
        height: 28px;
        margin-bottom: 6px;
    }
    .job-list-box{
        height: 120px;
        margin-top:40px
    }
    .job-list-box.image{
        margin-top: 0;
        height: 72px;
        padding: 16px 36px;
    }
    .job-item.tag{
        height: 24px;
    }
    .job-item.title{
        height: 24px;
    }
  }
  @media only screen and (min-width: 1440px) and (max-width: 1919px){
    .overview-box{
        width: 100%;
        height: 246px;
        padding: 24px;
    }
    .overview-image-box{
        height: 136px;
        overflow: hidden;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
    }
    .overview-image-box img{
        object-fit: cover;
        width: 100%;
    }
    .job-item{
        height: 24px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .job-list-box{
        height: 100px;
        margin-top:20px
    }
    .job-list-box.image{
        margin-top: 0;
        height: 72px;
        padding: 8px 18px;
    }
    .job-item.tag{
        height: 20px;
    }
    .job-item.title{
        height: 32px;
    }
  }
  @media only screen and (min-width: 468px) and (max-width: 1439px){
    .overview-box{
        width: 100%;
        height: 216px;
        padding: 24px;
    }
    .overview-image-box{
        height: 96px;
        overflow: hidden;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
    }
    .overview-image-box img{
        object-fit: cover;
        width: 100%;
    }
    .job-item{
        height: 20px;
        margin-bottom: 8px;
        font-size: 12px;
    }
    .job-list-box{
        height: 88px;
        margin-top:20px
    }
    .job-list-box.image{
        margin-top: 0;
        height: 80px;
        padding: 8px 18px;
    }
    .job-item.tag{
        height: 20px;
    }
    .job-item.title{
        height: 32px;
    }
    .welcom-page .tip-box{
        margin-top: 32px;
    }
  }
