.muenu .icon-font{
  font-size: 14px;
}
.ant-menu-inline-collapsed .ant-menu-submenu .ant-menu-submenu-title span:nth-child(2){
display: none;
}
.menus_subTitle{
  padding-left: 24px!important;
}
.menus_group{
  font-size: 14px;
  line-height: 28px;
  height: 40px;
  color: #A0A3BD;
  padding-left: 24px;
  margin-top: 48px;
}
.menus_subTitle>a{
  font-weight: 500 !important;
  color: #ffffff;
  font-size: 16px !important;
  line-height: 24px!important;
  opacity: 0.7;
  letter-spacing: 0px;

}
.menus_title>a{
  color: #ffffff;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0px;
}
.job-dot{
  height: 18px;
  min-width: 18px;
  padding: 6px;
  background-color: #00BA88;
  position: absolute;
  right: 56px;
  top:11px;
  font-size: 12px;
  border-radius: 9px;
  line-height: 6px;
  color:#fff;
  text-align: center;
}