.fandq{
    min-width: 728px;
}
.fandq .ant-collapse-header{
font-size: 14px;
color: #14142A;
font-weight: 600;
}
.fandq .ant-collapse-item.ant-collapse-item-active>*{
    color: #2A00A2;
}
/* .collapse-border.active{
    border-left: 2px solid #2A00A2;
    position: absolute;
    height: 48px;
    left: 0!important;
    top:0!important;
    border-top-left-radius: 20px;
} */
.fandq .ant-collapse-item{
    border-bottom:0!important;
}
.fdq-text{
    padding: 0 120px 0 32px;
    color:#6E7191;
}
.faq-collapse{
    margin-bottom: 8px;
}
.faq-collapse .ant-collapse-header{
    height: 68px;
    line-height: 2.5715!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}