.ant-table-tbody > tr.ant-table-row-selected > td {
  background: rgba(123, 117, 130, 0.2);

}
.ant-table-row-selected:hover {
  background: rgba(123, 117, 130, 0.4);

}

#copy {
  z-index: -99;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
.border-right{
  border-right: 1px dotted #5f5aa7;
}
.search-config-details{
  text-align: right;
  text-overflow: ellipsis;
  width: calc(100% - 80px);
  white-space: nowrap;
}
.search-config-title{
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-config-high-details,
.search-config-title,
.search-config-details {
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;

}
.search-config-high-details{
  width: calc(100% - 80px);
  height:96px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
