@import '~antd/dist/antd.less';
@import './icons/iconfont.css';


#root {
  height: 100%;
  background: #f5f5f5;
  min-width: 768px;
  min-height: 100vh;
  letter-spacing: 1px;
}


.ant-layout-sider{
  background-color: #120043;
}
.Menus {
  background-color: #120043;
}
.ant-menu.ant-menu-dark, .ant-menu-submenu-open>* ,.ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #120043;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(242, 242, 242, 0.26)!important;
}
.ant-table-thead > tr > th{
  font-weight: 700;
}
.textCenter {
  text-align: center;
}
.margin16{
  margin: 16px;
}
.margin8{
  margin:8px;
}
.marginT16{
  margin-top: 16px !important;
}
.marginB16{
  margin-bottom: 16px;
}
.marginL16{
  margin-left: 16px;
}
.marginR16{
  margin-right: 16px;
}
.marginT8{
  margin-top: 8px;
}
.marginB8{
  margin-bottom: 8px;
}
.marginL8{
  margin-left: 8px;
}
.marginR16{
  margin-right: 8px;
}
.bg-primary{
  background: #D0B5F8;
}
.bg-purple{
  background: #7121EA;
}
.bg-success{
  background: #00AB79;
}
.bg-gray{
  background: rgba(40, 40, 40, 0.01);
}
.bg-white{
  background: #ffffff;
}

@font-face {
  font-family: Poppins;//自定义字体名称
  src: url(./font/Poppins/Poppins-Regular.ttf)
}
@font-face {
  font-family: Poppins-Blod;//自定义字体名称
  src: url(./font/Poppins/PoppinsBold.ttf)
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

body{
  font-family: Poppins;
}
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar:horizontal{
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

.blurs {
  filter: blur(4px);
}

.ant-btn {
  border-radius: 32px;
  color: #120043;
}
.ant-btn:hover {
  border-radius: 32px;
  color: #2A00A2;
}

.ant-btn-primary {
  color: #ffffff;
}
.ant-btn-primary:hover,
.ant-btn-d{
  color: #F7F7FC
}
.paddingL16 {
  padding-left: 16px;
}

.paddingR16 {
  padding-right: 16px;
}

.ant-btn-lg {

}

.ant-btn-sm {

}

.ant-btn-primary {
  color: #ffffff;
}
.smMenus{
  padding: 72px 16px;
  height: 100%;
}
.smMenus-top{
  padding-left: 16px;
  height: calc(100% - 64px );
}
.menusDrawer .ant-drawer-close{
 color:#ffffff;
}
.marginB32{
  margin-bottom: 32px;
}
.padding64{
  padding: 64px;

}
.padding32{
  padding: 32px;
}
.padding64 .ant-card-body{
  padding: 0;
}
h1{
  font-family: Poppins-Blod;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #14142A;
  margin-bottom: 24px;
  margin-top: 0;
}
h2{
  font-family: Poppins-Blod;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #14142A;

}
h3{

}
h4{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #4E4B66;
  margin: 0;
}
.ant-input ,
.ant-input-number-input,
.ant-input-number {
  border: none;
  height: 64px;
  background-color: #EFF0F7;
}
.ant-form-item-label > label {
  line-height: 28px;
  color: #4E4B66;

}


.ant-select,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  height: 64px;
  background-color: #EFF0F7;
  border-radius: 16px;
  line-height: 28px;
}

.ant-select-multiple .ant-select-selection-item {
  background: #F1FCFF;
  border-radius: 30px;
  border: none;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  color: #0096B7;
  padding-left: 16px;
  padding-right:16px;
  margin-right: 16px;
}
.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder{
  line-height: 64px;
}

.ant-input:focus,
.ant-input-focused,
.ant-select:focus,
.ant-select-focused,
.ant-input-number-input:focus,
.ant-select-multiple:focus .ant-select-selector,
.ant-select-focused .ant-select-selector,
.ant-select-open .ant-select-selector,
.ant-select-show-search:focus .ant-select-selector{
  box-shadow: 0 0 0 2px #120043;
  background-color: #FFFFFF!important;
}
