.paddingT32{
  padding-top: 32px;
}
.paddingB64{
  padding-bottom: 64px;
}
.paddingB32{
  padding-bottom: 32px;
}
.active>span ,
.ant-typography-expand, .ant-typography-edit, .ant-typography-copy {
    color: #5f5aa7 !important;
}
