.blog .ant-input:hover{
    background-color: #fff;
}
.blog-search-box{
    text-align: center;
}
.blog-list-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.blog-item{
    background-color: #fff;
    border-radius: 24px;
    margin-bottom: 50px;
}
.blog-item-box{
    width: 33.33%;
    margin-bottom: 24px;
}
@media only screen and (min-width: 1920px){
    .blog-item{
        width: 358px;
        height: 260px;
        margin: 0 auto;
    }
    .blog-image-box{
        height: 160px;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
        overflow: hidden;
    }
    .blog-image-box img{
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    .blog-text-box{
        height: 60px;
        padding: 6px 24px;
    }
  }
  @media only screen and (min-width: 1440px) and (max-width: 1919px){
    .blog-item{
        width: 358px;
        height: 260px;
        margin: 0 auto;
    }
    .blog-image-box{
        height: 160px;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
        overflow: hidden;
    }
    .blog-image-box img{
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-size: cover;
    }
    .blog-text-box{
        height: 60px;
        padding: 6px 24px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1439px){
    .blog-item{
        height: 260px;
        width: 260px;
        margin: 0 auto;
    }
    .blog-image-box{
        height: 160px;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
        overflow: hidden;
    }
    .blog-image-box img{
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-size: cover;
    }
    .blog-text-box{
        height: 72px;
        padding: 12px;
    }
  }
  @media only screen and (min-width: 468px) and (max-width: 768px){
    .blog-item{
        height: 260px;
        width: 220px;
        margin: 0 auto;
    }
    .blog-image-box{
        height: 160px;
        background-color: #ddd;
        border-top-left-radius: 23px;
        border-top-right-radius: 24px;
        overflow: hidden;
    }
    .blog-image-box img{
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-size: cover;
    }
    .blog-text-box{
        height: 72px;
        padding: 12px;
    }
  }