/* .content{
  min-width: 1690px;
  overflow: auto;
  margin: 0 16px;
} */
.content-login{
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
}
.ant-layout-content{
  margin: 0 16px;
  min-height: 725px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}
.text-right {
  text-align: right;
}

.login-header.ant-layout-header {
  background-color:#FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(230, 230, 230, 0.5);
}
.ant-layout-sider{
  background-color:#02203a;
  font-family: FuturaBT-Medium Futura_Medium  Futura;

}
.ant-menu-submenu-open{
  background-color: #02203a!important;
}
.ant-menu-submenu-open>*{
  background-color: #02203a!important;
}
.ant-menu-item-selected{
  background-color: #9C9CD0!important;
}
.logoBox{
  padding:20px 0;
  text-align: center;
}
.text-black{
  color:#222222;
}

.ant-layout {
  background: #f5f5f5;
}
.site-layout-background{
  padding-top: 20px;
}
.text-min{
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 16px;
}
