/* .content{
  min-width: 1690px;
  overflow: auto;
  margin: 0 16px;
} */
.content-login{
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
}
.ant-layout-content{
  margin: 0 16px;
  min-height: 725px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}
.text-right {
  text-align: right;
}

.login-header.ant-layout-header {
  background-color:#FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(230, 230, 230, 0.5);
}

.logoBox{
  padding:20px 0;
  text-align: center;
}
.text-black{
  color:#222222;
}

.ant-layout {
  background: #f5f5f5;
}
.site-layout-background{
  padding-top: 20px;
}
.text-min{
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 16px;
}
.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.earphone{
  background-image: url(../assets/earphone.png);
}
.faq{
  background-image: url(../assets/faq.png);
}
.bell{
  background-image: url(../assets/bell.png);
  position: relative;
}
.bell-dot{
  height: 16px;
  width: 16px;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #E92C3A;
  border-radius: 8px;
}
.userImg{
  width: 36px;
  height: 36px;
  background-color: #ccc;
}
.userName{
  cursor: pointer;
}
.sider-wrapper{
  height: 100vh;
}
@media only screen and (max-width: 986px){
  .sider-wrapper{
    display: none;
  }
  .menu-icon{
    background-image: url(../assets/menu_icon.png);
    width: 20px;
    height: 16px;
    background-size: 100%;
    float: left;
    margin-top: 26px;
    cursor: pointer;
  }
  .small-menu{
    height: 730px;
    width: 252px;
    background-color: #120043;
    position:absolute;
    z-index: 999;
  }
  .small-menu-close{
    color:#fff;
    cursor: pointer;
    margin-left: 224px;
    margin-top: 8px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 986px){
  .sider-wrapper{
    display: block;
  }
  .small-menu{
    display: none;
  }
}

